<header class="header">
	<div class="header__container">
		<a class="header__logo logo link-reset" href="#"> @nickname</a>
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" href="#projects" data-goto=".section-1">Мои работы</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#hero" data-goto=".section-2">Обо мне</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#contacts" data-goto=".section-3">Контакты</a>
					</li>
				</ul>
		</div>
	</div>
</header>